.page.theme_dark {
  --bg-color: rgb(0, 0, 40);
  --accent-title-color: rgb(219, 0, 255);
  --title-color: rgb(0, 0, 40);
  --accent-color: rgb(255, 0, 112);
  --accent-color-subtitle: rgb(255, 0, 112);
  --color-text: rgb(241, 178, 206);
  --main-font: 400;
  --accent-font: 700;
  --background: url(../images/cover-image-dark.png);
  --otline-color: rgba(255, 0, 112, 0.4);
}

.theme_dark .pseudo-element {
  visibility: visible;
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid var(--otline-color);
  cursor: pointer;
}

.theme_dark .header__theme-menu-button:focus {
  outline: none;
}

.theme_dark .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.theme_dark .decorated-zone::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.theme_dark .decorated-zone::after {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}