@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgb(255, 241, 247);
    --accent-title-color: rgb(255, 194, 230);
    --title-color: rgb(53, 52, 48);
    --visibility: hidden;
    --accent-color: rgb(255, 141, 203);
    --accent-color-subtitle: rgb(53, 52, 48);
    --color-text: rgb(53, 52, 48);
    --main-font: 400;
    --accent-font: 700;
    --background: url(../images/cover-image-light.png);
    --otline-color: rgba(50, 49, 45, 0.4);
    }
  }

.page.theme_light {
  --bg-color: rgb(255, 241, 247);
  --accent-title-color: rgb(255, 194, 230);
  --title-color: rgb(53, 52, 48);
  --visibility: hidden;
  --accent-color: rgb(255, 141, 203);
  --accent-color-subtitle: rgb(53, 52, 48);
  --color-text: rgb(53, 52, 48);
  --main-font: 400;
  --accent-font: 700;
  --background: url(../images/cover-image-light.png);
  --otline-color: rgba(50, 49, 45, 0.4);
}