.page {
  background-color: var(--bg-color);
  background-image: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: var(--font-family)
}

.section {
  padding: 0 10px 0 10px;
  margin-block-end: 50px;
}

.header {
  padding: 10px;
  inline-size: 100%;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 0 min-content 1fr;
  align-items: center;
  margin-block-end: 8%;
  position: relative;
}



.pseudo-element::before {
  content: "REC";
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  color: var(--accent-color);
  right: 40px;
  top: 10px;
  z-index: 1;
}

.pseudo-element::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  right: 20px;
  top: 20px;
  z-index: 1;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  left: 10px;
  bottom: 10px;
  z-index: 1;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  list-style-type: none;
}

.header__theme-menu-button {
  padding: 2px 12px 3px 13px;
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  text-transform: lowercase;
  border-block-end: 1px solid transparent;
  font-size: 18px;
  line-height: 18px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--otline-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
  color: var(--accent-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: var(--accent-font);
}

.header__description {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-color);
  padding-inline-end: 14%;
  block-size: auto;
}

.section__title {
  color: var(--accent-color-subtitle);
  line-height: 130%;
  font-size: 18px;
  margin-block-end: 20px;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: var(--accent-font);
}

.title-description {
  color: var(--title-color);
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.description {
  color: var(--color-text);
  font-weight: var(--main-font);
  font-size: 18px;
  line-height: 130%;
}

.section__card:not(:last-child) {
  margin-block-end: 20px;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--color-text);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--color-text);
}

.how-to-section h3:first-child {
  font-weight: var(--accent-font);
}

.how-to-section h3 {
  font-weight: var(--main-font);
}

.section__subtitle {
  margin-block-end: 20px;
}

.section-img .section__subtitle {
  margin-block-end: 10px;
}

.section-img {
  margin-block-end: 40px;
}

.section__img {
  display: grid;
  gap: 10px;
}

.section__img img {
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  block-size: 100dvh;
  position: relative;
}

.footer__title {
  color: var(--accent-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: var(--accent-font);
}


.theme_light .pseudo-element {
  visibility: hidden;
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--title-color);
}

.theme_light .header__theme-menu-button {
  color: var(--title-color);
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid var(--otline-color);
  cursor: pointer;
}

.theme_light .header__theme-menu-button:focus {
  outline: none;
}

.theme_light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--title-color);
}

.theme_light .decorated-zone::before {
  border-block-start: 1px solid var(--title-color);
  border-inline-end: 1px solid var(--title-color);
}

.theme_light .decorated-zone::after {
  border-block-end: 1px solid var(--title-color);
  border-inline-start: 1px solid var(--title-color);
}


.theme_dark .pseudo-element {
  display: block;
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid var(--otline-color);
  cursor: pointer;
}

.theme_dark .header__theme-menu-button:focus {
  outline: none;
}

.theme_dark .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.theme_dark .decorated-zone::before {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.theme_dark .decorated-zone::after {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}


@media (min-width: 768px) {
  .pseudo-element::before {
    right: 49px;
    top: 21px;
  }

  .pseudo-element::after {
    right: 30px;
    top: 30px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header {
    padding: 20px;
  }

  .header__title {
    justify-self: start;
    position: relative;
    left: -20px;
  }

  .header__description-block {
    justify-self: end;
    max-inline-size: 364px;
  }

  .section {
    padding: 0 20px 0 20px;
    margin-block-end: 80px;
  }

  .section:nth-child(odd) {
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .section__title {
    max-width: 236px;
  }

  .section-img .section__subtitle {
    margin-block-end: 20px;
  }

  .section__img {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .section__img1 {
    grid-column: 1 / 3;
  }

  .section__img2 {
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section__img3 {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section__img4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .section__img5 {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .section-img {
    margin-block-end: 60px;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description-block {
    min-inline-size: 50%;
  }

  .header__description {
    padding: 0;
  }

  .section__title {
    max-width: 315px;
  }

  .section__what-deduce-block {
    margin-block-end: 0;
  }

  .section__what-reduce {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
