.page {
  background-color: var(--bg-color);
  background-image: var(--background);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: var(--font-family);
}

.section {
  padding: 0 10px 0 10px;
  margin-block-end: 50px;
}

.header {
  inline-size: 100%;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 0 min-content 1fr;
  align-items: center;
  padding: 21.5px;
  margin-block-end: 40px;
  position: relative;
}

.pseudo-element {
  visibility: var(--visibility);
}

.pseudo-element::before {
  content: "REC";
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  color: var(--accent-color);
  right: 40px;
  top: 10px;
  z-index: 1;
}

.pseudo-element::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  right: 20px;
  top: 20px;
  z-index: 1;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 10px;
  top: 10px;
  z-index: 1;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  left: 10px;
  bottom: 10px;
  z-index: 1;
}

.header__theme-menu {
  padding-block-start: 52px;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  list-style-type: none;
}

.header__theme-menu-button {
  padding: 2px 12px 3px 13px;
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  text-transform: lowercase;
  border-block-end: 1px solid transparent;
  font-size: 18px;
  line-height: 18px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--otline-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
  color: var(--accent-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: var(--accent-font);
  margin-block-start: 20px;
}

.header__description-block {
  justify-self: end;
  max-inline-size: 364px;
  padding-block-end: 55px;
}

.header__description {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-color);
  padding-inline-end: 14%;
  block-size: auto;
}

.section__title {
  color: var(--accent-color-subtitle);
  line-height: 130%;
  font-size: 18px;
  padding-block-end: 20px;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: var(--accent-font);
}

.title-description {
  color: var(--title-color);
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.description {
  color: var(--color-text);
  font-weight: var(--main-font);
  font-size: 18px;
  line-height: 130%;
}

.section__card:not(:last-child) {
  margin-block-end: 20px;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--color-text);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--color-text);
}

.how-to-section h3:first-child {
  font-weight: var(--accent-font);
}

.how-to-section h3 {
  font-weight: var(--main-font);
}

.section__title {
  margin: 0;
}

.section__img {
  display: grid;
  grid-template-columns: 1fr;
    grid-template-areas:
      "images_title"
      "sunset"
      "ice-cream"
      "tape"
      "books"
      "street";
    gap: 10px;
    margin-bottom: 5px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-img .title-description.title-decor.section__subtitle {
  margin-block-end: 0px;
}

.section__subtitle {
  grid-area: images_title;
  margin: 0;
  margin-block-end: 19px;
}

.section__img1 {
  grid-area: sunset;
}

.section__img2 {
  grid-area: ice-cream;
}

.section__img3 {
  grid-area: tape;
}

.section__img4 {
  grid-area: books;
}

.section__img5 {
  grid-area: street;
}

.footer {
  display: grid;
  place-items: center;
  block-size: 100vh;
  position: relative;
}

.footer__title {
  color: var(--accent-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: var(--accent-font);
  line-height: 82.5%;
}

.footer.decorated-zone::before {
  right: 10px;
  top: 0px;
}

.footer.decorated-zone::after {
  left: 10px;
  bottom: 18px;
}

@media (768px <= width < 1024px) {
  .pseudo-element::before {
    right: 49px;
    top: 21px;
  }

  .pseudo-element::after {
    right: 30px;
    top: 30px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
  
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .footer.decorated-zone::after {
    left: 1px;
    bottom: 0px;
  }

  .footer.decorated-zone::before {
    top: 0px;
    right: 0px;
  }

  .header {
    padding: 20px;
    margin-block-end: 59px;
  }

  .header__title {
    justify-self: start;
    position: relative;
    left: -20px;
  }
  .header__description-block {
    padding-block-end: 165px;
  }

  .header__theme-menu {
    padding-block-start: 170px;
  }

  .section {
    padding: 0 20px 0 20px;
    margin-block-end: 80px;
  }

  .how-to-section {
    margin-block-start: 80px;
    margin-block-end: 80px;
  }

  .section-img {
    margin-block-end: 80px;
  }

  section:nth-child(2) {
    margin-block-end: 10px;
  }

  .section:nth-child(odd) {
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .section__img {
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    margin-block-end: 60px;
  
  }

  .section-img .title-description.title-decor.section__subtitle {
    margin-block-end: 20px;
  }
  
  .section__img1 {
    grid-area: sunset;
  }
  
  .section__img2 {
    grid-area: ice-cream;
  }
  
  .section__img3 {
    grid-area: tape;
  }
  
  .section__img4 {
    grid-area: books;
  }
  
  .section__img5 {
    grid-area: street;
  }

  .section__title {
    width: 230px;
  }


  .footer {
    height: 984px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-block-start: 80px;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-rows: 0px 1fr 2fr 1fr 1fr;
  }

  .header__theme-menu {
    grid-row: 2/3;
    align-self: start;
    justify-self: end;
    min-width: auto;
    margin-top: 7px;
  }

  .header_title {
    grid-row: 3/4;
  }

  .header_description {
    grid-row: 4/5;
  }

  .section{
    margin: 60px 20px 0 20px;
    row-gap: 82px;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu {
    padding-block-start: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__description-block {
    margin-block-end: 200px;
    width: 491px;
    height: 71px;
  }

  .section:nth-child(odd) {
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .section__title {
    font-weight: var(--accent-font);
    max-width: 315px;
  }

  .section__what-deduce-block {
    margin-block-end: 0;
  }

  .section__what-reduce {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__img {
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    margin-block-end: 60px;
  
  }

  .how-to-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
  }

  .section-img .title-description.title-decor.section__subtitle {
    margin-block-end: 20px;
  }

  .sunset {
    grid-area: sunset;
  }
  
  .ice-cream {
    grid-area: ice-cream;
  }
  
  .tape {
    grid-area: tape;
  }
  
  .books {
    grid-area: books;
  }
  
  .street {
    grid-area: street;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
