:root {
  --bg-color: rgb(0, 0, 40);
  --accent-title-color: rgb(219, 0, 255);
  --title-color: rgb(0, 0, 40);
  --accent-color: rgb(255, 0, 112);
  --accent-color-subtitle: rgb(255, 0, 112);
  --color-text: rgb(241, 178, 206);
  --main-font: 400;
  --accent-font: 700;
  --font-family: 'IBM Plex mono', Courier, monospace;
  --otline-color: rgba(255, 0, 112, 0.4);
  --background: url(../images/cover-image-dark.png);
}